h1 {
    color: red;
    font-size: 150px;
}

img:hover {
    background-color: gold;
}

.broccoli {
    background-color: red;
}

.beef {
    background-color: green;
}

.circular {
    border-radius: 100%;
}

#heading {
    color: blue;
}